body, html  {background: #000; color: #888;  margin: 0; padding: 0; font-family: Helvetica, Verdana, "sans-serif";}
#wrap {background: #222227; overflow: hidden;}
html {overflow: hidden;}

body { width: 600px;}


a, a:visited, a:focus, a:hover, a:active {color: #999; text-decoration: none;}
a:hover {color: #ccc;}
a:active, a:focus {outline: none;}



#loader {background: url(images/loader.gif) no-repeat; height: 32px; width: 32px; left: 370px; top: 170px; position: relative;}

#actions {font-size: 11px; padding: 4px; text-align: center; background: #666;}
#actions a {color: #222;}
#actions a:hover {color: #fff;}

#col1 {float: left; width: 150px;}
#col2 {float: right; width: 450px;}


input, select {margin: 3px 6px; padding:3px; font-size: 12px;  width:135px; color: #333; background: #eee; border: 1px solid #777;}
input {padding: 2px 3px; border: 1px solid #bbb; padding: 4px; font-size: 11px; width:125px;}
input:hover, select:hover, input:focus {background: #fff;}


#tags {font-family: 'Roboto Condensed'; font-size: 11px; padding: 0 7px; text-align: center; text-transform: uppercase; margin-top: 10px;}
#tags a {line-height: 1.8em; margin-right: 10px;}

#player {height: 82px;}
#player span {display: none;}
#player iframe {width: 100%; height: 115px; border: none;}

#playlist {height:535px; overflow: auto; margin-bottom:2px;}
.odd {background: #404040;}

ul {font-size: 11px; list-style: none; margin: 0; padding: 0;}
li {clear: both; height: 30px; line-height: 15px; padding: 4px 6px; overflow: hidden;}

#playlist a {color: #bbb}
#playlist a:hover {color: #ccc;}

#playlist .left a {font-family: 'Roboto Condensed'; font-size: 11px; width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;}
#playlist .left .info {display: block;}
#playlist .right a {display: none; margin-right: 5px;}
#playlist .selected a {color: #222;}
.selected {background: #eb956a; color: #444; height: 30px !important;} 



.left, .right {display: block;}
.left{float: left;  width: 87%;}

.right { float: right; width: 10%; text-align: right;}






.loading {display: none; visibility: hidden;}


::-webkit-scrollbar {width: 8px; height: 8px;  background: none;}
::-webkit-scrollbar-track:vertical {  background: #333;}
::-webkit-scrollbar-thumb { width: 8px; height: 20px; background: #666; }
::-webkit-scrollbar-button: {  display: none;} 
